.ShakeAnimation:hover {
  animation: shake 0.8s ease-in;
}
@keyframes shake {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(5px);
    box-shadow: 0px 6px 20px rgba(255, 255, 255, 1);
  }
  10%,
  30%,
  50% {
    transform: translate(2px);
  }
  70%,
  100% {
    transform: translate(0);
  }
}
